In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_csv('energydata_complete.csv')
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [2]:
#import libraries required libraries for data manipulation and data wrangling

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

#import required libraries for modelling and model evaluation
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

df = pd.read_csv('energydata_complete.csv')

In [3]:
#Question 17
#From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Define the features and target variable
X = df[['T2']]
y = df['T6']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize the Linear Regression model
model = LinearRegression()

# Fit the model
model.fit(X_train, y_train)

# Predict the target variable
y_pred = model.predict(X_test)

# Calculate the Root Mean Squared Error (RMSE)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Print the RMSE rounded to three decimal places
rmse_rounded = round(rmse, 3)
rmse_rounded

3.63

In [4]:
#Question 18
#Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions:

What is the Mean Absolute Error (in three decimal places) for the  training set?
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error

# Remove the 'date' and 'lights' columns
df = df.drop(['date', 'lights'], axis=1)

# Define the features and target variable
X = df.drop('Appliances', axis=1)
y = df['Appliances']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Normalize the training set and transform the test set
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Initialize the Linear Regression model
model = LinearRegression()

# Fit the model on the normalized training set
model.fit(X_train_scaled, y_train)

# Predict the target variable for the training set
y_train_pred = model.predict(X_train_scaled)

# Calculate the Mean Absolute Error for the training set
mae_train = mean_absolute_error(y_train, y_train_pred)

# Print the MAE rounded to three decimal places
mae_train_rounded = round(mae_train, 3)
mae_train_rounded

53.742

Init signature: set(self, /, *args, **kwargs)
Docstring:
set() -> new empty set object
set(iterable) -> new set object

Build an unordered collection of unique elements.
Type:           type
Subclasses:     LazySet, LazySet, LazySet, _UniqueDirs

In [5]:
#Question 19
#What is the Root Mean Squared Error (in three decimal places) for the training set?
from sklearn.metrics import mean_squared_error
import numpy as np

# Calculate the Root Mean Squared Error for the training set
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))

# Print the RMSE rounded to three decimal places
rmse_train_rounded = round(rmse_train, 3)
rmse_train_rounded

95.216

In [6]:
#Question
#What is the Mean Absolute Error (in three decimal places) for test set?

# first Predict the target variable for the test set
y_test_pred = model.predict(X_test_scaled)

# Calculate the Mean Absolute Error for the test set
mae_test = mean_absolute_error(y_test, y_test_pred)

# Print the MAE rounded to three decimal places
mae_test_rounded = round(mae_test, 3)
mae_test_rounded

53.643

In [7]:
#Question 21
#What is the Root Mean Squared Error (in three decimal places) for test set?
from sklearn.metrics import mean_squared_error

# Calculate the Root Mean Squared Error for the test set
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))

# Print the RMSE rounded to three decimal places
rmse_test_rounded = round(rmse_test, 3)
rmse_test_rounded

93.64

In [8]:
#Question 22
#Did the Model above overfit to the training set
# Compare RMSE values between training and test sets to check for overfitting
overfitting_check = {
    "RMSE Training Set": rmse_train_rounded,
    "RMSE Test Set": rmse_test_rounded
}

# A significant difference between these values may indicate overfitting
overfitting_check

# the model is not overfitting because theoritically; 
                      #   MSE of test > RMSE of train => OVER FITTING of the data.
                   #   and  RMSE of test < RMSE of train => UNDER FITTING of the data.

{'RMSE Training Set': 95.216, 'RMSE Test Set': 93.64}

In [9]:
#Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?

from sklearn.linear_model import Lasso

# Training the Lasso regression model with alpha value of 1.0
lasso_alpha_1 = Lasso(alpha=1.0)
lasso_alpha_1.fit(X_train_scaled, y_train)

# Obtaining the feature weights with alpha value of 1.0
feature_weights_alpha_1 = lasso_alpha_1.coef_

# Counting the number of non-zero feature weights
non_zero_weights_alpha_1 = np.sum(feature_weights_alpha_1 != 0)
non_zero_weights_alpha_1

4

In [10]:
#Question
#Train a ridge regression model with default parameters. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming y is your target variable and it's already defined in your environment
# Splitting the dataset into training and test sets (adjust as per your dataset specifics)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardizing the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Training the Ridge regression model with default parameters
ridge_model = Ridge()
ridge_model.fit(X_train_scaled, y_train)

# Predicting the target variable for the test set
y_test_pred_ridge = ridge_model.predict(X_test_scaled)

# Calculating the Root Mean Squared Error for the test set
rmse_test_ridge = np.sqrt(mean_squared_error(y_test, y_test_pred_ridge))

# Printing the RMSE rounded to three decimal places
rmse_test_ridge_rounded = round(rmse_test_ridge, 3)
rmse_test_ridge_rounded

92.451

In [11]:
#Question 25
#What is the new RMSE with the Lasso Regression on the test set?

from sklearn.linear_model import Lasso

# Training the Lasso regression model with default parameters
lasso_model = Lasso()
lasso_model.fit(X_train_scaled, y_train)

# Predicting the target variable for the test set using the Lasso model
y_test_pred_lasso = lasso_model.predict(X_test_scaled)

# Calculating the Root Mean Squared Error for the test set predictions made by the Lasso model
rmse_test_lasso = np.sqrt(mean_squared_error(y_test, y_test_pred_lasso))

# Printing the RMSE rounded to three decimal places for the Lasso model
rmse_test_lasso_rounded = round(rmse_test_lasso, 3)
rmse_test_lasso_rounded

93.408